:root{
    background-color:azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1{
    font-size: 2.75rem;
    margin: 0px;
}
img{
    border-radius: 10px;
    height: 125px;
    width: auto;
}

#info{
    width: 70%;
    overflow: auto;
    flex-direction: column;
    background-color:ghostwhite;
}

.classbox{
    border: 2px black solid;
}
#selection{
    width:30%;
    background-color:ghostwhite;
}

h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.75rem;
}

#options{
    margin: .5vh;
    display: flex;
    justify-content:space-between;
}
#categories{
    margin: 10px;
}
#favorites{
    width: 0%;
}

#gal{
    height: 72vh;
    display: flex;
}

#categories,#selection,#favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
}

#info,#selection,#gal,#favorites{
    border: 1px black solid;
}

.infobox{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    border-bottom: 0px;
}


.foodInfo{
    font-size: 1.2rem;
    text-align: center;
}
